.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-50 {
  flex: 0 1 20%;
}

a {
  text-decoration: none;
  color: black;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cards {
  margin: 50px 0;
}
